

@media screen and (max-width:700px){
     nav h1{
        display:none;
     }
     nav main{
        width:100%;
        justify-content: center; 
     }
     nav main a{
        margin: 0.4rem;
     }

     .home{
        align-items: center;
     }
     .home main h1{
        
        font-size: 3.2rem;
     }

     .home2{
        height: 120vh;
        flex-direction: column;
     }
     .home2 img{
        width: 100%;
     }
     .home2 div{
        width: 100%;
     }
     .home3 div{
        text-align: center;
        width: 100%;
        border-radius: 0;
        height:105vh;
     }
     .home3 div h1{
        width:16rem;
        padding:0;
        margin-top: 50px;
     }
     .home3 div p{
        padding: 4rem 2rem;
        font-size:0.8rem;
     }

     .home4{
      align-items: center;
      justify-content: center;
     }
     .home4 .icons{
      border-radius: 0;
      width: 100%;
      height: unset;
     }
     .icons article div{
      transition: 0.5s;
      animation: imgUp 1s linear infinite alternate;
     }
  
  @keyframes imgUp{
      to{
          transform: translateX(-10px);
      }
  }
.contact{
   align-items: center;
   justify-self: center;
}
  .contact main{
   
    border-radius: 0;
    height: 80vh;
    width: 100%;
   
   align-items: center;
  }
  .contact main h1{
        margin: 1rem;
        text-align: center;
  }
  .contact form{
   margin: 0;
  }
  .contact main form div{
   width: 100%;
   justify-content: center;
   margin:0.5;
  }
  .contact main form div label{
   padding-right: 50px;
  }

  footer{
   height: 50vh;
   grid-template-columns: 1fr;
   padding: 6rem;
  
  }
  footer div{
   align-items: center;
   
  }
}